



.p-div-left, .p-div-right, .p-div-full{
  margin-top: 30px;
}

.link-div{
  text-decoration: none;
}


.all-div-home {
    display: flex;
    flex-wrap: wrap;
}
.div-full:hover, .div-right:hover {
  transform: scale(0.9); 
}

.div-full, .div-left, .div-right{
  border: solid 2px white;
  color: white;
  transition: transform 0.6s ease;
  border-radius: 20px;
  border-color: rgba(237,222,93,1) ;
}



  
.div-left, .div-right{
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 5%;
}
.div-right{
  flex: 1;
}

.div-left{
  display: flex;
  align-items: column;
  border-radius: 20px;

  }



  
  .div-full {
    flex-basis: 100%;
    margin: 20px;
    padding: 5%;
    
  }
  
  .button-test{
    display: flex;
    background: linear-gradient(100deg, rgba(240,152,25,1) 0%, rgba(237,222,93,1) 100%);
    margin-left: auto;
    align-self: flex-end;
    font-size: 20px;    
    color: black;
    text-decoration: none !important;   
  }

  .navbar a:hover {
    border-bottom: 2px solid white;
    transition: border-bottom 0.5s;
  }
  




/* .div-1-home{
    background-color: blue;
}

.div-2-home{
    background-color: blueviolet;
}

.div-3-home{
    background-color: cadetblue;
} */





/* .div-all-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh; /* Isso faz com que a div ocupe 100% da altura da viewport */
/* }  */ 

/* .div-h1-home,
.div-p-home,
.div-button-home {
    margin-bottom: 20px; /* Ajuste o valor conforme necessário para dar espaço entre os elementos */
/* } /*

.div-h1-home{
    color: white;
}

.button-home {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f8b659;
    color: #222327;
    font-size: 1.1rem;
    transition: ease-in 200ms;
    border-radius: 0.5rem;    
}*/ /*

.button-home:hover {
    background-color: #f8b659e3;
}*/

