



nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    height: 8vh;
    background-color: #16171b;
    gap: 1rem;
    border-bottom: solid 1px #222327;
}

.nav-button {
    font-weight: 900;
    border-radius: 0.5rem;
    color: #ffffff;
    padding: 0.5rem;
    text-decoration: none;
    display: inline-block;
    width: 10%;
    text-align: center;
}


/* Navbar.css */
.nav-button {
    text-decoration: none;
    margin-right: 10px;
    position: relative;
  }
  
  .nav-button::after {
    content: '';
    display: block;
    height: 3px; /* Altura do underline */
    width: 0;
    background: linear-gradient(100deg, rgba(240,152,25,1) 0%, rgba(237,222,93,1) 100%);
    position: absolute;
    bottom: 0;
    transition: width 0.4s; /* Duração da transição */
  }
  
  .nav-button:hover::after {
    width: 100%;
  }
  