.button-login {
    width: 20%;
    height: 2em;
    background-color: rgb(67, 67, 67);
    border: none;
}
.button-register {
    width: 20%;
    height: 2em;
    background-color: rgb(67, 67, 67);
    border: none;
}
